body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
    padding: 0 3em;

}

h1{
    font-size: 40px;
    color: #FFF;
    margin: 0;
    margin-bottom: 0.25em;
}

p{
    font-size: 20px;
}

.title-span{
    color: #4ADF86;
}

.subtitle{
    color: #D5D4D8;
    margin: 0;
    margin-bottom: 2.25em;
}

.btn{
    border: 1px solid #10B981;
    background-color: #10B981;
    color: #FFF;
    font-size: 16px;
    width: 195px;
    padding: 9px 17px;
    border-radius: 6px;
    font-weight: 700;
    margin-bottom: 2em;
    transition: 0.25s;
    cursor: pointer;
}

.btn:hover{
    scale: 1.05;
}

.break-line{
    opacity: 0.2;
    margin-bottom: 2.5em;
}

.password-containers{
    display: flex;
}


.container{
    background-color: #273549;
    width: 210px;
    height: 40px;
    border-radius: 6px;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password{
    color: #4ADF86;
    font-size: 16px;
    cursor: pointer;
}





